<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Edit publisher</title>
<xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../style.css"/>
<script type="text/javascript" src="../nav.js"></script>
</head>
<body>

<nav th:insert="~{fragments/nav.html :: nav}"></nav>

<div>
 <h2>Edit publisher</h2>
 <br/>
 <form action="#" th:action="@{/save_publisher}" th:object="${publisher}" method="post">
 <table>
 
 <tr>
 <td>Publisher Id:</td>
 <td><input type="text" th:field="*{idp}" readonly="readonly" required/></td>
 </tr>	 
 
 <tr>
 <td>Address</td>
 <td><input type="text" th:field="*{address}" required/></td>
 </tr>
 
 <tr>
 <td>Name</td>
 <td><input type="text" th:field="*{name}" /></td>
 </tr>
 
 
 </table>
 <button type="submit">Save</button>
 </form>
</div>

</body>
</html>