<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav>
    <div class="nav_div">
        <a class="nav_link" th:href="@{/offers}">
            <img class='icon' th:src="@{/images/favicon.ico}" alt="Logo" width="32" height="32">
            Go to website
        </a>
        <div class="nav-links">
            <a class="nav_link" th:if="${#authorization.expression('isAuthenticated() and hasRole('admin')')}" th:href="@{/admin_dashboard_users}">
                Moderate users
            </a>
            <a class="nav_link" th:if="${#authorization.expression('isAuthenticated() and hasRole('admin')')}" th:href="@{/admin_dashboard_offers}">
                Moderate offers
            </a>
        </div>
        
        <div class="hamburger-menu" onclick="toggleMenu()">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </div>
        
    </div>
</nav>
</html>
