<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Books list</title>
<xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../style.css"/>
</head>
<body>
	
<div>
 
 <form action="#" th:action="@{/login}" method="post">
 <table>
 <tr>
 <td>Login</td>
 <td><input type="text" id="username" name="username"/></td>
 </tr>
 <tr>
 <td>Password</td>
 <td><input type="password" id="password" name="password"/></td>
 </tr>
 </table>

 <button type="submit">Login</button>
 
</form>

 
</div>

</body>
</html>